body {
    background: #0d1117;
    color: #c9d1d9;
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}

header h2 {
    text-align: center;
    color: #58a6ff;
    margin: 5px 0 15px 0;
}

.container {
    display: flex;
    gap: 15px;
    height: calc(100% - 60px);
    align-items: center;
}

/* Painel lateral */
.painel-mensagens {
    flex: 1;
    max-width: 320px;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 10px;
    height: 95%;
    display: flex;
    flex-direction: column;
}

#busca-jogo {
    width: 100%;
    padding: 10px;
    background: #0d1117;
    border: 1px solid #30363d;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

#dados-tempo-real {
    overflow-y: auto;
    flex: 1;
}

.item-jogo {
    background: #21262d;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.item-jogo:hover {
    border-color: #58a6ff;
}

.times {
    display: block;
    font-size: 13px;
    color: #f0f6fc;
    margin: 5px 0;
}

.placar-feed {
    font-size: 22px;
    font-weight: bold;
    color: #58a6ff;
}

.badge {
    font-size: 10px;
    color: #ff4d4d;
    font-weight: bold;
}

.hint {
    font-size: 10px;
    color: #8b949e;
}

/* Widget */
.painel-widget {
    flex: 1;
    height: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #0d1117;
    border-radius: 10px;
}

/* CORREÇÃO DA CAIXA PRETA */
.painel-widget iframe {
    width: 140%;
    height: 100%;
    border: none;
    transform: scale(1.1);
    transform-origin: center;
}